/* Search Design */


/* Table Design */

.product-data-table {
    margin: 60px 0px;
}

.table {
    width: 70% !important;
    border-collapse: collapse;
    margin: 30px auto;
}

.table td,
.table th {
    padding: 12px 15px;
    border: 1px solid rgb(139, 139, 139);
    text-align: center;
    font-size: 16px;
}

.table th {
    background-color: #1f5156;
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #7ac2c9;
}

.table tbody tr:nth-child(odd) {
    background-color: #fdfdfd;
}


/* Button */

.product-web-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-web-btn button {
    padding: 10px 15px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid #ffdd40;
    color: #ffdd40;
    background-color: #1f5156;
}

.regular {
    padding: 10px 15px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid #ffdd40;
    color: #ffdd40;
    background-color: #1f5156;
}

.product-web-btn button:focus {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.table td button {
    padding: 10px 20px;
    color: #ffdd40;
    background-color: #1f5156;
    width: 8rem;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ffdd40;
}

.table td button:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}


/*responsive*/

@media (max-width: 500px) {
    .search-btn {
        width: 100% !important;
        height: 30vh !important;
        display: inline;
        justify-content: start;
        align-items: start;
        margin: auto;
    }
    .product-data-table {
        margin: 90px 0px;
    }
    .table {
        display: block;
        width: 95% !important;
    }
    .table thead {
        display: none;
    }
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100% !important;
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table td {
        padding-left: 30% !important;
        text-align: left;
        position: relative;
    }
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50% !important;
        padding: 0px -10px 0px 20px !important;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}